# hidden files
.*
!.git*
!.editorconfig
!.nojekyll
!.travis.yml
!.husky
!.commitlintrc.json
!.versionrc.json

# bundler cache
_site
vendor

# rubygem
*.gem

# npm dependencies
node_modules
package-lock.json

Gemfile.lock

#post
!2022-07-22-Github-Blog-Start-01.markdown
!2022-07-23-Github-Blog-Setting-02.md
